*{
    margin: 0;
    padding: 0;
}

.corpoBody{
    background-color: aqua;
    width: 100%;
    height: 90%;
    display: grid;
    column-gap: 66px;
    row-gap: 46px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    
    font-size: 14px;
    
    
}
.card{
    border: 1px;
    width: 100px;
    cursor: pointer;
}
.card h1 {
    font-size: 14px;

}